[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = "*"
pytest = "*"
google-cloud-storage = "*"
pyyaml = "*"
pandas = "*"
config = "*"

[dev-packages]

[requires]
python_version = "3.10"
